services:
  - type: web
    name: bitebuddy-frontend
    runtime: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: VITE_API_URL
        sync: false
      - key: VITE_GOOGLE_MAPS_API_KEY
        sync: false
