.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b08ea3;
  padding: 10px 20px;
}

.logo {
  background-color: #f4a7b9;
  border-radius: 50%;
  padding: 20px 40px;
  font-family: "Didot", serif;
  font-weight: 400;
  font-size: 24px;
  color: black;
  text-align: right;
}

.title {
  flex-grow: 1;
  margin: 0 20px;
  background-color: #d3d3d3;
  font-family: "itim", cursive, sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.profile-circle {
  background-color: #f4a7b9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-family: "itim", cursive, sans-serif;
  color: black;
    cursor: pointer;
}
.profile-icon {
  font-size: 70px;
  cursor: pointer;
  color: #333;
}

