  .order-card {
  background-color:  #b08ea3;
  padding: 5px;
  width: 230px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 2px;}

  
.order-card h3 {
  margin: 2px 0;
  font-weight: bold;
}

.order-card {
  background-color:#d3d3d3;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-family: monospace;
  font-weight: 600;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.order-card button:hover {
  background-color: #b08ea3;
  color: white; 
 }