

.order-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
  padding: 20px;
  justify-items: center;
}

.loading-text {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}
