.restaurant-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

@media (min-width: 640px) {
  .restaurant-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .restaurant-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.loading-text {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.error-text {
  text-align: center;
  font-size: 18px;
  color: red;
  padding: 20px;
}
